*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
}
.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.plan-content{
    border-radius: 5px;
    padding: 10% 20%;
    width: 100%;
    color: white;
    background-color: rgb(30, 30, 58);
    text-align: center;
}
.plan-content h4{
    font-size: 22px;
}
.plan-content h2{
    font-size: 44px;
    margin: 20px  0 40px;
    font-weight: 500;
} 
.plan-content h2 span{
    font-size: 17px
}
.plan-content ul{
    text-align: left;
    margin: 20px 0;
    margin-left: 10px;
    line-height: 40px;
    list-style: none;
}
.plan-content ul li{
    margin: 15px 0;
}
.plan-content ul li::before{
    content: '\2022';
    color: red;
    margin-right: 8px;
}
.btn{
    margin-top: 30px;
    padding: 10px 50px;
    text-align: center;
    font-size: 15px;
    color: white;
    border: 1px solid tomato;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: tomato;
    color: white;
}